<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>Automatic Start and End Visit Module</name>
	<version>1.0.0</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Chukwuemeka Ifechelobi</author>
	<description>
		Replaces the need to Manually Start and End Visit for every Encounter. Implement by placing this Link <postSubmissionAction class="org.openmrs.module.conceptname.htmlformentry.PostSubmissionActionTagHandler"/> above the submit button of an Encounter Form
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
<require_modules>
	<require_module>${project.parent.groupId}.uiframework</require_module>
	<require_module>org.openmrs.module.htmlformentry</require_module>
</require_modules>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ConceptNameManagementActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>		
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

